@charset "UTF-8";

:root {
  --scheme-color1: #283785;
  --scheme-color2: #1C2269;
  --scheme-color3: #18144F;
  --scheme-color4: #0D1130;
  --scheme-color5: #362073;
  --scheme-color6: #492C9C;
  --bg-color: #0a0d25;
  --text-color: #FFFFFF;
  --border-color: var(--scheme-color1);
  --button-color: var(--scheme-color1);
  --color-primary: var(--text-color);
  --black-inverted: #000000;
}

body,
nav,
input,
form,
#subject,
#body,
#cc,
#boton-cc {
  background-color: var(--bg-color);
}


p,
h1,
h2,
h3,
li,
#navbarSupportedContent a,
legend,
label,
textarea {
  color: white;
}

.form-row,
form fieldset legend,
#subject,
#body,
#cc,
#boton-cc {
  border: 1px solid var(--border-color);
}

label,
.col-form-label {
  font-size: 1.5rem;

}

.logo-texto {
  cursor: default;
}

.nav-link:hover,
.logo-texto h1:hover,
.nav-link:focus {
  cursor: pointer;
  outline: none;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7),
    0px 0px 15px rgba(255, 255, 255, 0.7);
  transition: all 0.15s;
}

#sendBttn {
  background-color: var(--button-color);
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
  width: 10rem;
}

#sendBttn:hover {
  background-color: var(--text-color);
  color: var(--black-inverted);
  box-shadow: -5px 5px 20px var(--text-color),
    5px -5px 20px white;
  transition: all 0.5s;

}

nav {
  min-height: 10vh;
  background-color: var(--bg-color);
}

.nav-link {
  padding: 0;
}

/* Remove border from toggler */
.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: var(--text-color);
}

.navbar-collapse ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.fs-0 {
  font-size: 4rem;
}

#logo {
  width: 5rem;
  display: inline;
}

.logo-texto h1 {
  color: #362073;
}

#home {
  height: 91.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo {
  background-image: url(../media/background/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 90vh;
  max-height: 90vh;
  z-index: -2;
}

.fondo:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.navbar:has(.show) ~ main .fondo:before{
  top: 9.3rem;
}

#logo-dinamico {
  width: 70vw;
  animation-name: floating;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-direction: normal;
}

@keyframes floating {
  from {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }

  to {
    transform: translateY(0px);
  }
}

#escritura {
  color: white;
  font-size: 1rem;
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 2px solid;
  width: 36ch;
  animation: typing 8s steps(36) 1, blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }

  50% {
    width: 36ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#portatil {
  filter: hue-rotate(340deg);
}

.separador {
  height: 10vh;
  width: 100%;
}

.tecnologias {
  display: flex;
  align-items: space-around;
  gap: 1rem;
  width: 50%;
}

.tecnologias img {
  width: 30%;
}

.tecnologia {
  font-size: 1.25rem;
  color: var(--text-color);
  border-color: transparent;
  background-color: transparent;
}

.tecnologia img {
  width: 4rem;
  filter: grayscale(100);
  background-color: transparent;
  border-radius: 0.9rem;
  min-width: 1rem;
}

#todas {
  border: none;
  background: none;
}

#todas:hover,
#todas:focus {
  box-shadow: 0 0 15px #362073, 0 0 15px #362073, 0 0 15px #362073;
  transition: all 0.3s;
}

div:has(#todas:focus) .tecnologia img {
  filter: none;
  box-shadow: 0 0 30px #362073, 0 0 30px #362073, 0 0 35px #362073;
  transition: all 0.3s;
}

.tecnologia img:hover {
  filter: none;
  box-shadow: 0 0 30px #362073, 0 0 30px #362073, 0 0 35px #362073;
  transition: all 0.3s;
}

.tecnologia:focus img {
  filter: none;
  box-shadow: 0 0 30px #362073, 0 0 30px #362073, 0 0 35px #362073;
}

#map {
  filter: invert(100);
}

.tecnologias:has(.botones button[data-tecnologia="react"]:focus)~#cartas .carta:has(.react) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="nodejs"]:focus)~#cartas .carta:has(.nodejs) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="javascript"]:focus)~#cartas .carta:has(.javascript) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="html"]:focus)~#cartas .carta:has(.html) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="css"]:focus)~#cartas .carta:has(.css) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="bootstrap"]:focus)~#cartas .carta:has(.bootstrap) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="vscode"]:focus)~#cartas .carta:has(.vscode) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="java"]:focus)~#cartas .carta:has(.java) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="mysql"]:focus)~#cartas .carta:has(.mysql) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="mongodb"]:focus)~#cartas .carta:has(.mongodb) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="python"]:focus)~#cartas .carta:has(.python) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="intellij"]:focus)~#cartas .carta:has(.intellij) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="git"]:focus)~#cartas .carta:has(.git) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="markdown"]:focus)~#cartas .carta:has(.markdown) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="postman"]:focus)~#cartas .carta:has(.postman) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="aftereffects"]:focus)~#cartas .carta:has(.aftereffects) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="photoshop"]:focus)~#cartas .carta:has(.photoshop) .cover-image,
.tecnologias:has(.botones button[data-tecnologia="figma"]:focus)~#cartas .carta:has(.figma) .cover-image,
.tecnologias:has(button[data-tecnologia="todas"]:focus)~#cartas .carta .cover-image {
  transform: translateY(-3rem);
  opacity: 0.5;
}

.tecnologias:has(.botones button[data-tecnologia="react"]:focus)~#cartas .carta:has(.react) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="nodejs"]:focus)~#cartas .carta:has(.nodejs) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="javascript"]:focus)~#cartas .carta:has(.javascript) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="html"]:focus)~#cartas .carta:has(.html) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="css"]:focus)~#cartas .carta:has(.css) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="bootstrap"]:focus)~#cartas .carta:has(.bootstrap) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="vscode"]:focus)~#cartas .carta:has(.vscode) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="java"]:focus)~#cartas .carta:has(.java) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="mysql"]:focus)~#cartas .carta:has(.mysql) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="mongodb"]:focus)~#cartas .carta:has(.mongodb) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="python"]:focus)~#cartas .carta:has(.python) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="intellij"]:focus)~#cartas .carta:has(.intellij) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="git"]:focus)~#cartas .carta:has(.git) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="markdown"]:focus)~#cartas .carta:has(.markdown) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="postman"]:focus)~#cartas .carta:has(.postman) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="aftereffects"]:focus)~#cartas .carta:has(.aftereffects) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="photoshop"]:focus)~#cartas .carta:has(.photoshop) .wrapper,
.tecnologias:has(.botones button[data-tecnologia="figma"]:focus)~#cartas .carta:has(.figma) .wrapper,
.tecnologias:has(button[data-tecnologia="todas"]:focus)~#cartas .carta .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(15deg);
  box-shadow: 2px 20px 20px -8px rgba(255, 255, 255, 0.75);
}

.tecnologias:has(.botones button[data-tecnologia="react"]:focus)~#cartas .carta:has(.react) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="nodejs"]:focus)~#cartas .carta:has(.nodejs) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="javascript"]:focus)~#cartas .carta:has(.javascript) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="html"]:focus)~#cartas .carta:has(.html) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="css"]:focus)~#cartas .carta:has(.css) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="bootstrap"]:focus)~#cartas .carta:has(.bootstrap) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="vscode"]:focus)~#cartas .carta:has(.vscode) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="java"]:focus)~#cartas .carta:has(.java) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="mysql"]:focus)~#cartas .carta:has(.mysql) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="mongodb"]:focus)~#cartas .carta:has(.mongodb) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="python"]:focus)~#cartas .carta:has(.python) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="intellij"]:focus)~#cartas .carta:has(.intellij) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="git"]:focus)~#cartas .carta:has(.git) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="markdown"]:focus)~#cartas .carta:has(.markdown) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="postman"]:focus)~#cartas .carta:has(.postman) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="aftereffects"]:focus)~#cartas .carta:has(.aftereffects) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="photoshop"]:focus)~#cartas .carta:has(.photoshop) .wrapper::before,
.wrapper::after,
.tecnologias:has(.botones button[data-tecnologia="figma"]:focus)~#cartas .carta:has(.figma) .wrapper::before,
.wrapper::after,
.tecnologias:has(button[data-tecnologia="todas"]:focus)~#cartas .carta .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.tecnologias:has(.botones button[data-tecnologia="react"]:focus)~#cartas .carta:has(.react) .title,
.tecnologias:has(.botones button[data-tecnologia="nodejs"]:focus)~#cartas .carta:has(.nodejs) .title,
.tecnologias:has(.botones button[data-tecnologia="javascript"]:focus)~#cartas .carta:has(.javascript) .title,
.tecnologias:has(.botones button[data-tecnologia="html"]:focus)~#cartas .carta:has(.html) .title,
.tecnologias:has(.botones button[data-tecnologia="css"]:focus)~#cartas .carta:has(.css) .title,
.tecnologias:has(.botones button[data-tecnologia="bootstrap"]:focus)~#cartas .carta:has(.bootstrap) .title,
.tecnologias:has(.botones button[data-tecnologia="vscode"]:focus)~#cartas .carta:has(.vscode) .title,
.tecnologias:has(.botones button[data-tecnologia="java"]:focus)~#cartas .carta:has(.java) .title,
.tecnologias:has(.botones button[data-tecnologia="mysql"]:focus)~#cartas .carta:has(.mysql) .title,
.tecnologias:has(.botones button[data-tecnologia="mongodb"]:focus)~#cartas .carta:has(.mongodb) .title,
.tecnologias:has(.botones button[data-tecnologia="python"]:focus)~#cartas .carta:has(.python) .title,
.tecnologias:has(.botones button[data-tecnologia="intellij"]:focus)~#cartas .carta:has(.intellij) .title,
.tecnologias:has(.botones button[data-tecnologia="git"]:focus)~#cartas .carta:has(.git) .title,
.tecnologias:has(.botones button[data-tecnologia="markdown"]:focus)~#cartas .carta:has(.markdown) .title,
.tecnologias:has(.botones button[data-tecnologia="postman"]:focus)~#cartas .carta:has(.postman) .title,
.tecnologias:has(.botones button[data-tecnologia="aftereffects"]:focus)~#cartas .carta:has(.aftereffects) .title,
.tecnologias:has(.botones button[data-tecnologia="photoshop"]:focus)~#cartas .carta:has(.photoshop) .title,
.tecnologias:has(.botones button[data-tecnologia="figma"]:focus)~#cartas .carta:has(.figma) .title,
.tecnologias:has(.botones button[data-tecnologia="todas"]:focus)~#cartas .carta .title,
.tecnologias:has(button[data-tecnologia="todas"]:focus)~#cartas .carta .title {
  transform: translate3d(0%, -10rem, 10rem);
}

.tecnologias:has(.botones button[data-tecnologia="react"]:focus)~#cartas .carta:has(.react)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="nodejs"]:focus)~#cartas .carta:has(.nodejs)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="javascript"]:focus)~#cartas .carta:has(.javascript)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="html"]:focus)~#cartas .carta:has(.html)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="css"]:focus)~#cartas .carta:has(.css)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="bootstrap"]:focus)~#cartas .carta:has(.bootstrap)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="vscode"]:focus)~#cartas .carta:has(.vscode)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="java"]:focus)~#cartas .carta:has(.java)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="mysql"]:focus)~#cartas .carta:has(.mysql)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="mongodb"]:focus)~#cartas .carta:has(.mongodb)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="python"]:focus)~#cartas .carta:has(.python)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="intellij"]:focus)~#cartas .carta:has(.intellij)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="git"]:focus)~#cartas .carta:has(.git)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="markdown"]:focus)~#cartas .carta:has(.markdown)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="postman"]:focus)~#cartas .carta:has(.postman)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="aftereffects"]:focus)~#cartas .carta:has(.aftereffects)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="photoshop"]:focus)~#cartas .carta:has(.photoshop)>.tecnologias,
.tecnologias:has(.botones button[data-tecnologia="figma"]:focus)~#cartas .carta:has(.figma)>.tecnologias,
.tecnologias:has(button[data-tecnologia="todas"]:focus)~#cartas .carta>.tecnologias {
  opacity: 1;
  transform: translate3d(0%, -3rem, 8rem);
}

.par div,
.impar div {
  width: 75%;
}

.par div p,
.impar div p {
  font-size: 1rem !important;
}

.par img,
.impar img {
  width: 50%;
}

@keyframes escala {
  50% {
    transform: scale(2);
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 23rem;
  --card-width: calc(var(--card-height) / 1.5);
}

.wrapper {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
}

.carta::after {
  position: absolute;
  content: "";
  top: -15%;
  left: -15%;
  right: 0;
  z-index: -2;
  height: 130%;
  width: 130%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(2rem);
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

fieldset legend {
  max-width: 50%;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#instagram,
#twitter,
#github,
#facebook {
  text-align: center;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 0.5rem;
  margin: 0.5rem;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}

#twitter {
  animation-delay: 0.3s;
}

#facebook {
  animation-delay: 0.7s;
}

#github {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

.carta {
  width: 17rem;
  height: 23rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 1rem;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.5s;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.oculta {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.cover-image {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 3rem;
}

.carta:hover .cover-image {
  transform: translateY(-3rem);
  opacity: 0.5;
  transition: all 0.5s;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carta:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(15deg);
  box-shadow: 2px 20px 20px -8px rgba(255, 255, 255, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -2;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.carta:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.title {
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: transform 0.5s;
}

.carta:hover .title {
  transform: translate3d(0%, -10rem, 10rem);
}

.carta>.tecnologias {
  width: 70%;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  z-index: -1;
  bottom: 0rem;
}

.carta>.tecnologias img {
  width: 20%;
  display: flex;
  justify-content: center;
}

.carta:hover>.tecnologias {
  opacity: 1;
  transform: translate3d(0%, -3rem, 8rem);
}

@media (min-width: 576px) {
  .container-bp {
    max-width: 90%;
  }

  #escritura,
  #escritura2 {
    font-size: 1.5rem;
  }

  #logo-dinamico {
    width: 50vw;
    height: auto;
  }

  .col-form-label {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }

  .impar,
  .par {
    display: flex;
    flex-direction: row !important;
  }

  .par div,
  .impar div {
    width: 50%;
  }

  .par div p,
  .impar div p {
    font-size: 1.25rem !important;
  }

  .par img,
  .impar img {
    width: 100%;
  }

  .navbar:has(.show) ~ main .fondo:before{
    top: 9.8rem;
  }
}

@media (min-width: 768px) {
  .container-bp {
    max-width: 768px;
  }

  .par div p,
  .impar div p {
    font-size: 1.5rem !important;
  }

  .nav-link {
    font-size: 1.25rem;
  }

  .par img,
  .impar img {
    width: 50%;
  }
  .navbar:has(.show) ~ main .fondo:before{
    top: 0rem;
  }
}

@media (min-width: 992px) {
  .container-bp {
    max-width: 992px;
  }

  #logo-dinamico {
    width: 30vw;
    height: auto;
  }

  #escritura,
  #escritura2 {
    font-size: 3rem;
  }

  .par div p,
  .impar div p {
    font-size: 1.75rem !important;
  }

  .nav-link {
    font-size: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .container-bp {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container-bp {
    max-width: 1400px;
  }
}