
/*INICIAL (Bootstrap lo trae por defecto)*/
/* 
@charset "UTF-8";

:root {
    --scheme-color1: #F8F8FF;
    --scheme-color2: #CACACA;
    --scheme-color3: #9B9B9B;
    --scheme-color4: #6D6D6D;
    --scheme-color5: #3E3E3E;
    --scheme-color6: #1E1E1E;
    --main-font: 'Roboto', sans-serif;
    --main-font-color: #181818;
    --secondary-font-color: #f0f0f0;
    --main-font-color-soft: #181818B3;
    --secondary-font-color-soft: #f0f0f0B3;
    --rem-value: 10px;
    --font-size: 16px;
    --spaces: 1rem;
    --success-color: #28a745!important;
    --danger-color: #bd2130!important;
    --warning-color: #ffc107!important;
    --info-color: aquamarine!important;
    --bttn-color: #007bff!important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-font-color: #f0f0f0;
        --secondary-font-color: #181818;
        --main-font-color-soft: #f0f0f0B3;
        --secondary-font-color-soft: #181818B3;
        --scheme-color1: #1E1E1E;
        --scheme-color2: #3E3E3E;
        --scheme-color3: #6D6D6D;
        --scheme-color4: #9B9B9B;
        --scheme-color5: #CACACA;
        --scheme-color6: #F8F8FF;
    }
}

@media (prefers-contrast: high) {
    :root {
        --main-font-color: black;
        --secondary-font-color: white;
        --success-color: green!important;
        --danger-color: red!important;
        --warning-color: yellow!important;
        --info-color: aqua!important;
        --bttn-color: blue!important;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: var(--rem-value);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--main-font);
    font-size: var(--font-size);
    line-height: 1.4em;
    color: var(--main-font-color);
    background-color: var(--scheme-color1);
    min-height: 100vh;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0.5em 0;
}

mark {
    color: var(--main-font-color);
    background-color: var(--info-color);
}

address {
    display: inline;
}

blockquote:before {
    content: "“";
}

blockquote:after {
    content: "”";
}

blockquote,
q {
    color: var(--main-font-color-soft);
    font-style: italic;
}

blockquote {
    margin: 0.5em 1em;
}

p a {
    display: inline;
}

a {
    display: block;
}

ol, ul {
    padding: 0 calc(2 * 1em);
}

::selection,
::-moz-selection {
    background-color: var(--main-font-color);
    color: var(--secondary-font-color);
}

table,
tr,
td,
th {
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 1px black;
    text-align: center;
}

form, input:not([type="checkbox"], [type="radio"]), textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: block;
    
}

label {
    display:inline;
}

legend {
    font-family: inherit;
    font-size: inherit;
    border: 2px solid grey;
}

img,
picture,
video,
iframe,
figure,
audio {
    margin: 0;
    max-width: 100%;
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

figcaption {
    font-family: inherit;
    font-size: inherit;
    margin: 0 1em;
    color: var(--main-font-color-soft);
    font-style: italic;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

.center {
    margin: 0 auto;
}

.container {
    min-width: min(90%, 1200px);
}

.container-full {
    width: 100%;
}

.container-bp {
    max-width: 100%;
}

@media (min-width: 576px) {
    .container-bp {
        max-width: 90%;
    }
}

@media (min-width: 768px) {
    .container-bp {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .container-bp {
        max-width: 992px;
    }
}

@media (min-width: 1200px) {
    .container-bp {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container-bp {
        max-width: 1400px;
    }
}
*/

.navbar{
    top: -1px;
}

.fs-0{
    font-size: 4rem;
}

#logo-dinamico {
    width: 15rem;
    animation-name: floating;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: normal;
}
  
@keyframes floating {
    from {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(15px);
    }
    to {
      transform: translateY(0px);
    }
}

/* PARA QUE LA ANIMACION NO SEA INFINITA*/
/*span{
    display:block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 2px solid;
    width: 36ch;
    animation: typing 8s steps(36),
    blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}*/

#escritura{
    display:block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 2px solid;
    width: 36ch;
    animation: typing 8s steps(36) infinite,
    blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    } 50%{
        width: 36ch;
    }
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
}

#escritura2{
    display:block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 30ch;
    animation: typing2 5s steps(30) infinite,
    blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing2 {
    from {
        width: 0;
    } 50%{
        width: 30ch;
    }
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
}

.separador{
    height: 10vh;
}

.tecnologias {
    display: flex;
    align-items: space-around;
    gap: 1rem;
}

.tecnologias img{
    width: 30%;
}

.fondo{
    background-image: url(https://images.unsplash.com/photo-1622560939525-2eb4358d3eba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2l0eSUyMHBhbm9yYW1pY3xlbnwwfHwwfHw%3D&w=1000&q=80);
    filter: grayscale(100);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
}

.fondo:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
    z-index: -1;
}

.carta{
    width: 15rem;
    height: 25rem;
    border: 3px solid gray;
    padding: 1rem;
    cursor: pointer;
}