@charset "UTF-8";
/*INICIAL (Bootstrap lo trae por defecto)*/
/* 
@charset "UTF-8";

:root {
    --scheme-color1: #F8F8FF;
    --scheme-color2: #CACACA;
    --scheme-color3: #9B9B9B;
    --scheme-color4: #6D6D6D;
    --scheme-color5: #3E3E3E;
    --scheme-color6: #1E1E1E;
    --main-font: 'Roboto', sans-serif;
    --main-font-color: #181818;
    --secondary-font-color: #f0f0f0;
    --main-font-color-soft: #181818B3;
    --secondary-font-color-soft: #f0f0f0B3;
    --rem-value: 10px;
    --font-size: 16px;
    --spaces: 1rem;
    --success-color: #28a745!important;
    --danger-color: #bd2130!important;
    --warning-color: #ffc107!important;
    --info-color: aquamarine!important;
    --bttn-color: #007bff!important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-font-color: #f0f0f0;
        --secondary-font-color: #181818;
        --main-font-color-soft: #f0f0f0B3;
        --secondary-font-color-soft: #181818B3;
        --scheme-color1: #1E1E1E;
        --scheme-color2: #3E3E3E;
        --scheme-color3: #6D6D6D;
        --scheme-color4: #9B9B9B;
        --scheme-color5: #CACACA;
        --scheme-color6: #F8F8FF;
    }
}

@media (prefers-contrast: high) {
    :root {
        --main-font-color: black;
        --secondary-font-color: white;
        --success-color: green!important;
        --danger-color: red!important;
        --warning-color: yellow!important;
        --info-color: aqua!important;
        --bttn-color: blue!important;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: var(--rem-value);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--main-font);
    font-size: var(--font-size);
    line-height: 1.4em;
    color: var(--main-font-color);
    background-color: var(--scheme-color1);
    min-height: 100vh;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0.5em 0;
}

mark {
    color: var(--main-font-color);
    background-color: var(--info-color);
}

address {
    display: inline;
}

blockquote:before {
    content: "“";
}

blockquote:after {
    content: "”";
}

blockquote,
q {
    color: var(--main-font-color-soft);
    font-style: italic;
}

blockquote {
    margin: 0.5em 1em;
}

p a {
    display: inline;
}

a {
    display: block;
}

ol, ul {
    padding: 0 calc(2 * 1em);
}

::selection,
::-moz-selection {
    background-color: var(--main-font-color);
    color: var(--secondary-font-color);
}

table,
tr,
td,
th {
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 1px black;
    text-align: center;
}

form, input:not([type="checkbox"], [type="radio"]), textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: block;

}

label {
    display:inline;
}

legend {
    font-family: inherit;
    font-size: inherit;
    border: 2px solid grey;
}

img,
picture,
video,
iframe,
figure,
audio {
    margin: 0;
    max-width: 100%;
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

figcaption {
    font-family: inherit;
    font-size: inherit;
    margin: 0 1em;
    color: var(--main-font-color-soft);
    font-style: italic;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

.center {
    margin: 0 auto;
}

.container {
    min-width: min(90%, 1200px);
}

.container-full {
    width: 100%;
}

.container-bp {
    max-width: 100%;
}

@media (min-width: 576px) {
    .container-bp {
        max-width: 90%;
    }
}

@media (min-width: 768px) {
    .container-bp {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .container-bp {
        max-width: 992px;
    }
}

@media (min-width: 1200px) {
    .container-bp {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container-bp {
        max-width: 1400px;
    }
}
*/

/* :root { COLORES
  --scheme-color1: #283785;
  --scheme-color2: #1C2269;
  --scheme-color3: #18144F;
  --scheme-color4: #0D1130;
  --scheme-color5: #362073;
  --scheme-color6: #492C9C;
}  */

/* NO SE COMO FUNCIONA XD*/
html {
  scroll-behavior: smooth;
}

body,
nav,
input,
form,
#subject,
#body,
#cc,
#boton-cc {
  background-color: #0a0d25;
}


p,
h1,
h2,
h3,
li,
#navbarSupportedContent a,
legend,
label,
textarea {
  color: white;
}

.form-row,
form fieldset legend,
#subject,
#body,
#cc,
#boton-cc{
  border: 1px solid #283785;
}

label,
.col-form-label {
  font-size: 1.5rem;

}

#sendBttn{
  background-color: #1C2269;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  width: 10rem;
}

#sendBttn:hover{
  background-color: white;
  color: black;
  box-shadow: -5px 5px 20px white,
              5px -5px 20px white;
  transition: all 0.5s;

}

.nav-link {
  font-size: 0.3rem;
}

.active {
  color: #936fff;
  font-weight: 600;
}

nav {
  min-height: 10vh;
  background-color: #0a0d25;
}

/* Remove border from toggler */
.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: white;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.fs-0 {
  font-size: 4rem;
}

#logo {
  width: 5rem;
  display: inline;
}

.logo-texto h1 {
  color: #362073;
}

#home {
  height: 91.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo {
  background-image: url(../media/background/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 90vh;
  max-height: 90vh;
  z-index: -2;
}

.fondo:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}



#logo-dinamico {
  width: 70vw;
  animation-name: floating;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-direction: normal;
}

@keyframes floating {
  from {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }

  to {
    transform: translateY(0px);
  }
}

#escritura {
  color: white;
  font-size: 1rem;
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 2px solid;
  width: 36ch;
  animation: typing 8s steps(36) 1, blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }

  50% {
    width: 36ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#escritura2 {
  font-size: 1rem;
  color: white;
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 2px solid;
  width: 22ch;
  animation: typing2 5s steps(22) 1, blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing2 {
  from {
    width: 0;
  }

  50% {
    width: 22ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#portatil {
  filter: hue-rotate(340deg);
}

.separador {
  height: 10vh;
  width: 100%;
}

.tecnologias {
  display: flex;
  align-items: space-around;
  gap: 1rem;
  width: 50%;
}

.tecnologias img {
  width: 30%;
}

.tecnologia {
  font-size: 1.25rem;
  color: white;
  border-color: transparent;
  background-color: transparent;
}

.tecnologia img {
  width: 4rem;
  filter: grayscale(100);
  background-color: transparent;
  border-radius: 0.9rem;
  min-width: 1rem;
}

#todas{
  border: none;
  background: none;
}

#todas:hover {
  box-shadow: 0 0 10px #362073, 0 0 40px #362073, 0 0 80px #362073;
  transition: all 0.3s;
}

div:has(#todas:focus) .tecnologia img {
  filter: none;
  box-shadow: 0 0 10px #362073, 0 0 40px #362073, 0 0 80px #362073;
  transition: all 0.3s;
}

.tecnologia img:hover {
  filter: none;
  box-shadow: 0 0 10px #362073, 0 0 40px #362073, 0 0 80px #362073;
  transition: all 0.3s;
}

.tecnologia:focus img {
  filter: none;
  box-shadow: 0 0 10px #362073, 0 0 40px #362073, 0 0 80px #362073;
}

#map {
  filter: invert(100);
}

.tecnologias div:has(img[class=html]:checked) .carta:has(.html),
form:has(select > option[value=python]:checked) .python,
form:has(select > option[value=html]:checked) .carta:has(.html),
form:has(select > option[value=css]:checked) .css {
  background-color: red;
}

.impar{
  display: flex;
  flex-direction: column !important;
}

.par{
  display: flex;
  flex-direction: column-reverse !important;
}

.par div p, .impar div p{
  font-size: 1rem !important;
}

@keyframes escala {
  50% {
    transform: scale(2);
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 23rem;
  --card-width: calc(var(--card-height) / 1.5);
}

.wrapper {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
}

.carta::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

fieldset legend {
  max-width: 50%;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#instagram,
#twitter,
#github,
#facebook {
  text-align: center;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 0.5rem;
  margin: 0.5rem;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}

#twitter {
  animation-delay: 0.3s;
}

#facebook {
  animation-delay: 0.7s;
}

#github {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

.carta {
  width: 17rem;
  height: 23rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 1rem;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.5s;
}

.cover-image {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 3rem;
}

.carta:hover .cover-image {
  transform: translateY(-3rem);
  opacity: 0.5;
  transition: all 0.5s;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carta:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(15deg);
  box-shadow: 2px 20px 20px -8px rgba(255, 255, 255, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -2;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.carta:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.carta:hover .wrapper::after {
  height: 120px;
}

.title {
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: transform 0.5s;
}

.carta:hover .title {
  transform: translate3d(0%, -10rem, 10rem);
}

.carta>.tecnologias {
  width: 70%;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  z-index: -1;
  bottom: 0rem;
}

.carta>.tecnologias img {
  width: 20%;
  display: flex;
  justify-content: center;
}

.carta:hover>.tecnologias {
  opacity: 1;
  transform: translate3d(0%, -3rem, 8rem);
}

@media (min-width: 576px) {
  .container-bp {
    max-width: 90%;
  }

  #escritura,
  #escritura2 {
    font-size: 1.5rem;
  }

  #logo-dinamico {
    width: 50vw;
    height: auto;
  }

  .col-form-label {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }

  .impar, .par{
    display: flex;
    flex-direction: row !important;
  }
  .par div p,
  .impar div p{
    font-size: 1.25rem !important;
  }
  
}

@media (min-width: 768px) {
  .container-bp {
    max-width: 768px;
  }
  .par div p,
  .impar div p{
    font-size: 1.5rem !important;
  }
}

@media (min-width: 992px) {
  .container-bp {
    max-width: 992px;
  }

  #logo-dinamico {
    width: 30vw;
    height: auto;
  }

  #escritura,
  #escritura2 {
    font-size: 3rem;
  }
  .par div p,
  .impar div p{
    font-size: 1.75rem !important;
  }
}

@media (min-width: 1200px) {
  .container-bp {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container-bp {
    max-width: 1400px;
  }
}